@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

.text{
   font-family: "DM Sans", sans-serif;
}
.heading{
 font-family: "Bricolage Grotesque", sans-serif;
}
.logo{
    font-family: "Playfair Display", serif;

}

::selection{
  background-color: black;
  color: white;
}